@model IEnumerable<GustaVagas.Domain.Entities.Formacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoEnsino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCandidato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEnsino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCandidato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
